.welcome {
	padding-top: 60px;
	.welcome__first {
		padding-bottom: 107px;
		@media (max-width: 991px) {
			padding-bottom: 32px;
		}
	}
	.welcome__second {
		padding-bottom: 60px;
		@media (max-width: 991px) {
			padding-bottom: 32px;
		}
	} 
	.welcome__third {
		padding-bottom: 60px;
		@media (max-width: 991px) {
			padding-bottom: 32px;
		}
	}
	@media (max-width: 991px) {
		padding-top: 25px;
	}
}
.top {
	background-color: #fff;
	padding: 42px 32px 28px 32px;
	.top__header {
		font-size: $fontSize * 2.4;
		line-height: 28px;
		color: #31303F;
		text-align: center;

		padding-bottom: 24px;
	}
	.top__item {
		cursor: pointer;
		padding-bottom: 12px;
	}
	.top__preview {
		width: 100%;
		position: relative;
		img {
			width: 100%;
		}
	}
	.top__play {
		position: absolute;
		top: calc(50% - 30px);
		left: calc(50% - 30px);

		width: 60px;
		height: 60px;

		background-image: url("../images/video/play.svg");
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.top__description {
		font-size: $fontSize * 1.8;
		line-height: 21px;

		color: #31303F;
		padding: 12px 0px;
	}
	.top__btn {
		&.top__btn_more {
			display: block;
			padding: 10px 14px;
			max-width: 113px;
			width: 100%;
			margin: 0 auto;

			background: $mainThemeColorBG;
			border-radius: 5px;

			font-size: $fontSize * 1.6;
			line-height: 19px;
			color: #FFFFFF;
		}
	}
	&.top__article {
		@media (max-width: 991px) {
			padding: 32px 15px;
			margin-right: -15px;
			margin-left: -15px;
		}
	}
	.top__article__link {
		display: block;
		font-size: $fontSize * 1.8;
		line-height: 21px;
		color: #54526A;
		padding: 12px 0;
		border-top: 1px solid #F4F3F3;
	}

	


	@media (max-width: 991px) {
		padding: 32px 17px;
	}
}

.banner {
	display: flex;
	justify-content: space-between;

	padding: 0px 32px;

	background-color: #54526A;
	.banner__left {
		width: 44%;

		padding: 5em 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		@media (max-width: 991px) {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	.banner__right {
		width: 56%;

		position: relative;
		img {
			margin-top: -26%;

			position: absolute;
			bottom: 0px; right: 0px;

			@media (max-width: 1600px) {
				width: 90%;
				&.banner__right__img {
					width: 75%;
				}
			}

			@media (max-width: 991px) {
				width: 100%;
				margin: 0px;
				position: unset;
			}
		}
		@media (max-width: 991px) {
			width: 100%;
			padding: 0 20px;
		}
	}
	.banner__header {
		font-weight: bold;
		font-size: $fontSize * 3.6;
		line-height: 42px;
		color: #FFFFFF;

		display: block;

		padding-bottom: 24px;
		@media (max-width: 1700px) {
			font-size: $fontSize * 3;
			line-height: 130%;
		}
		@media (max-width: 1600px) {
			font-size: $fontSize * 2.6;
			line-height: 130%;
		}
		@media (max-width: 1400px) {
			font-size: $fontSize * 2.4;
			line-height: 130%;
		}
		@media (max-width: 1300px) {
			font-size: $fontSize * 2;
			line-height: 130%;
		}
		@media (max-width: 1300px) {
			font-size: $fontSize * 1.6;
			line-height: 130%;
		}
		@media (max-width: 991px) {
			padding: 0 30px;
			text-align: center;
			font-size: $fontSize * 2.4;
			line-height: 28px;
		}
	}
	&.banner_color_main {
		background-color: $mainThemeColorBG;
	}
	.banner__btn {
		width: auto;

		background: #FFFFFF;
		border-radius: 5px;
		padding: 10px 18px;

		font-size: 16px;
		line-height: 19px;
		color: $mainThemeColorBG;

		@media (max-width: 991px) {
			margin-top: 20px;
		}
	}
	@media (max-width: 991px) {
		display: block;
		padding: 0px;
	}
}