.articles {
	&.articles_page {
		padding-bottom: 60px;
		.articles__item {
			margin-bottom: 60px;

			&:last-child {
				margin: 0px;
			}
			@media (max-width: 991px) {
				margin-bottom: 32px;
				&:last-child {
					margin: 0px;
				}
			}
		}
		.articles__header {
			padding-bottom: 24px;

			display: flex;
			justify-content: space-between;
			align-items: center;

			h2 {
				font-weight: bold;
				font-size: $fontSize * 3.6;
				line-height: 42px;
				color: #31303F;
				margin: 0px;
				@media (max-width: 991px) {
					font-size: $fontSize * 2.4;
					line-height: 130%;
				}
			}
			span {
				font-size: $fontSize * 1.8;
				line-height: 21px;
				text-align: right;
				color: #31303F;
				@media (max-width: 991px) {
					width: 100%;
					padding-top: 8px;
					display: block;
				}
			}
			@media (max-width: 991px) {
				display: block;
			}
			@media (max-width: 991px) {
				padding-top: 14px;
			}
		}
		.articles__content {
			img {
				width: 100%;
				display: block;
			}
			.articles__wrapper {
				background-color: #fff;
				padding: 32px;
				p {
					font-weight: 300;
					font-size: $fontSize * 1.8;
					line-height: 150%;
					color: #31303F;
					padding-bottom: 14px;
					&:last-child {
						padding-bottom: 0px;
					}
					@media (max-width: 991px) {
						font-size: $fontSize * 1.5;
					}
				}
				.articles__description {
					padding-bottom: 24px;
					border-bottom: 1px solid $mainThemeColorBG;
				}
				@media (max-width: 991px) {
					padding: 20px 10px;
				}
			}
		}
		.articles__sidebar {
			padding: 24px 0 34px 0;

			display: flex;
			justify-content: space-between;

			.articles__sidebar__header {
				font-size: $fontSize * 1.8;
				padding-bottom: 14px;
				line-height: 150%;
				display: block;
				color: #606060;
			}
			.social {
				display: flex;
				align-items: center;
				padding-right: 50px;
				img {
					max-width: 24px;
				}
				.social__item_ok {
					max-width: 14px;
				}
			}
			.articles__sidebar__like {
				width: 24px;
				svg {
					width: 24px;
				}
				&.articles__sidebar__like_good {
					margin-right:  28px;
				}
				&.articles__sidebar__like_bad {

				}
				&.active {
					svg {
						path {
							fill: $mainThemeColorBG;
						}
					}
				}
			}
			.articles__sidebar__views {
				font-size: $fontSize * 1.8;
				line-height: 150%;
				text-align: right;
				color: #606060;
			}
			@media (max-width: 991px) {
				display: block;
			}
		}
		.articles__footer {
			.articles__footer__add {
				font-size: $fontSize * 1.8;
				line-height: 150%;
				color: #606060;

				display: flex;
				align-items: center;

				margin-bottom: 27px;
				img {
					max-width: 32px;
					width: 100%;
				}
			}
			.articles__footer__comment {
				display: none;
				.articles__footer__comment__user {
					border-radius: 100%;
					width: 119px;
					height: 89px;
					padding-right: 30px;
					img {
						display: block;
						width: 100%;
					}
				}
				form {
					width: 100%;
				}
				textarea {
					border: 1px solid #606060;
					box-sizing: border-box;
					border-radius: 5px;

					resize: vertical;
					min-height: 150px;
					background: none;
					width: 100%;

					padding: 6px 10px;
					font-size: $fontSize * 1.6;
					line-height: 19px;
				}
				button {
					border: 0px;
					padding: 10px 18px;

					background: $mainThemeColorBG;
					border-radius: 5px;

					color: #fff;
					font-size: $fontSize * 1.6;
					line-height: 19px;

					margin-top: 16px;
				}
			}
		}

		@media (max-width: 991px) {
			padding-bottom: 25px;
		}
	}
	&.articles_random {
		display: flex;
		flex-wrap: wrap;

		height: 100%;
	}
	&.articles_new {
		display: flex;
		flex-direction: column;
		align-items: center;

		background-color: #fff;

		padding: 4em 7em;

		height: 100%;
		.articles_new__header {
			display: inline-block;
			margin: 0 auto;

			font-size: $fontSize * 2.4;
			line-height: 28px;
			text-align: center;
			padding-bottom: 10px;

			color: #31303F;

			position: relative;

			&:before {
				position: absolute;
				content: "";
				display: block;
				width: 80%;
				left: 10%;
				bottom: 0px;
				height: 4px;
				background-color: $mainThemeColorBG;
			}
			@media (max-width: 991px) {
				font-size: $fontSize * 2;
			}
		}
		.nav-tabs {
			border: 0px;
			display: flex;
			justify-content: center;
			.nav-item {
				.nav-link {
					display: inline-block;
					margin-right: 24px;
					background: #F4F3F3;
					border-radius: 5px;
					border: 0px;
					padding: 8px 16px;

					font-size: $fontSize * 1.6;
					line-height: 19px;
					color: $mainThemeColorBG;

					transition: 0.5s;
					&.active {
						color: #fff;
						background-color: $mainThemeColorBG;
						transition: 0.5s;
					}
					&:hover {
						border: 0px;
					}
					@media (max-width: 991px) {
						margin-bottom: 12px;
					}
				}
				&:last-child {
					.nav-link {
						margin: 0px;
					}
				}
				@media (max-width: 1500px) {
					margin-bottom: 12px;
				}
				@media (max-width: 1400px) {
					margin-bottom: 12px;
					&:nth-child(4) {
						.nav-link {
							margin: 0px;
						}
					}
				}
				@media (max-width: 1150px) {
					margin-bottom: 12px;
					&:nth-child(4) {
						.nav-link {
							margin-right: 24px;
						}
					}
					&:nth-child(5) {
						.nav-link {
							margin: 0px;
						}
					}
				}
				@media (max-width: 991px) {
					margin-bottom: 12px;
					&:nth-child(3) {
						.nav-link {
							margin: 0px;
						}
					}
				}
			}
		}
		.tab-pane {
			display: none;
			justify-content: space-between;
			flex-wrap: wrap;
			&.active {
				display: flex;
			}
		}
		.articles_new__item {
			width: 49%;
			.articles_new__item__preview {
				margin-bottom: 16px;
				overflow: hidden;
				img {
					width: 100%;
					transition: 0.5s;
				}
			}
			.articles_new__item__header {
				font-size: $fontSize * 2;
				line-height: 23px;
				color: #31303F;

				display: block;
				padding-bottom: 14px;
			}
			.articles_new__item__description {
				font-weight: 300;
				font-size: $fontSize * 1.6;
				line-height: 150%;
				color: #31303F;
				padding-bottom: 10px;

			}
			.articles_new__item__more {
				font-size: $fontSize * 1.8;
				line-height: 150%;
				color: $mainThemeColorBG;
			}
			&:hover {
				.articles_new__item__preview {
					img {
						transform: scale(1.05);
						transition: 0.5s;
					}
				}
			}
			@media (max-width: 991px) {
				width: 100%;
			}
		}
		@media (max-width: 991px) {
			margin-right: -15px;
			margin-left: -15px;
			padding: 32px 15px;
		}
	}
}
.article {
	&.article_big {
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		background-color: #fff;

		
		.article__preview {
			overflow: hidden;
			img {
				display: block;
				width: 100%;

				transition: 0.5s;
			}
		}
		
		.article__header {
			display: block;
			width: 100%;

			font-size: $fontSize * 2.4;
			line-height: 28px;
			color: #31303F;
			padding: 31px 24px;

			border-bottom: 4px solid $mainThemeColorBG;
			@media (max-width: 991px) {
				padding: 18px 16px;
				font-size: $fontSize * 2;
			}
		}
		&:hover {
			img {
				transform: scale(1.05);
				transition: 0.5s;
			}
		}
	}

}