$mainBGcolor: #00142C;
$mainTextColor: #DC143C;
$additionalTextColor: #FF7F50;

$fontSize: 10px;
$mainThemeColor: #572A6B;
$mainThemeColorBG: #8A53E4;

@function darker($color, $tone) {
  $adjust: -16*$tone;
  @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
}
body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;

  background-color: #F4F3F3;
}
@font-face {
  font-family: "Rockwell"; /* Имя шрифта */
  src: url('../fonts/Rockwell.ttf'); /* Путь к файлу со шрифтом */
}



/* Прижать футер */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  .content {
	flex: 1 0 auto;
	overflow-x: hidden;

	padding-top: 150px;
	@media (max-width: 991px) {
	  padding-top: 113px;
	}
  }
  .footer {
	flex: 0 0 auto;
  }
}

.container__custom {
  max-width: 1600px;
  margin: 0 auto;
}

iframe{
  display: block;
}
p {
  margin: 0px;
}
.header__line {
  position: relative;
  padding-bottom: 8px;
  &:after {
	content: "";
	position: absolute;
	display: block;
	bottom: 0px;
	width: 120px;
	height: 4px;
	background-color: $mainTextColor;
	left: 50%;
	transform: translateX(-50%);
  }
}



h1 {
	font-weight: bold;
	font-size: $fontSize * 3.6;
	line-height: 42px;
	color: #31303F;
}
h2 {
	font-weight: bold;
	font-size: $fontSize * 2.4;
	line-height: 42px;
	color: #31303F;
}
p {
	font-weight: 300;
	font-size: $fontSize * 1.8;
	line-height: 150%;
	color: #31303F;
	padding-bottom: 12px;
	@media (max-width: 991px) {
		font-size: $fontSize * 1.5;
	}
}
li {
	font-weight: 300;
	font-size: $fontSize * 1.8;
	line-height: 150%;
	color: #31303F;
	padding-bottom: 12px;
	@media (max-width: 991px) {
		font-size: $fontSize * 1.5;
	}
}


