.btn {
	&.btn_more {
		background: $mainThemeColorBG;
		border-radius: 5px;
		padding: 10px 18px;

		font-size: $fontSize * 1.6;
		line-height: 19px;
		color: #FFFFFF;
	}
	&.btn_flare {
		transition: all 0.2s ease-in-out;
		position: relative;
		overflow: hidden;
		&:before {
			content: "";
			background-color: rgba(255,255,255,0.5);
			height: 100%;
			width: 3em;
			display: block;
			position: absolute;
			top: 0;
			left: -4.5em;
			transform: skewX(-45deg) translateX(0);
			transition: none;
		}
		&:hover {
			color: #fff;
			&:before {
				transform: skewX(-45deg) translateX(20.5em);
				transition: all 0.5s ease-in-out;
			}
		}
	}

	&:focus {
		outline: none;
	}
}

.btn__work {
	width: 100%;
	margin: 24px 0px;

	background: $mainThemeColorBG;
	border-radius: 5px;

	font-size: $fontSize * 1.6;
	line-height: 19px;
	color: #FFFFFF;

	display: block;
	text-align: center;
	padding: 16px 10px;
	&:hover {
		color: #fff;
	}
}

a {
	&.btn {
		color: #FFFFFF;
	}
}







.btn-to-top {
	z-index: 4;
	position: fixed;
	bottom: 10%;
	right: -20%;
	cursor: pointer;
	transition: right 0.5s;
	&.btn-to-top_active {
		right: 2%;
		transition: right 0.5s;
	}
	.btn-to-top__content {
		width: 50px;
		height: 50px;
		background-color: $mainTextColor;
		border-radius: 100%;
	}
	.card_item_arrow {
		transform: rotate(180deg);
		z-index: 10;
		width: 20px;
		height: 20px;
		fill: #fff;
	}
}






