.modal-content {
	background: #FFFFFF;
	border-radius: 5px;
	padding: 60px 8em;
	position: relative;

	max-width: 576;
	width: 100%;
	.close {
		opacity: 1;
		position: absolute;
		right: 32px; top: 32px;
		line-height: 0;
		span {
			color: #303030;
			font-size: 36px;
			font-weight: 300;
			transition: 0.5s;
		}
		&:hover {
			opacity: 1!important;
			span {
				color: $mainThemeColorBG;
				transition: 0.5s;
			}
		}
	}
	.modal-header {
		font-weight: bold;
		font-size: $fontSize * 3.2;
		line-height: 37px;
		color: #31303F;
		display: block;
		text-align: center;
		border: 0px;
	}
	.modal-body {
		.form__input {
			width: 100%;
			padding: 11px 24px;
			background: rgba(84, 82, 106, 0.1);
			border-radius: 5px;

			font-size: $fontSize * 1.6;
			line-height: 19px;
			color: #606060;
			box-shadow: unset;

			margin-right: 0px;
		}
		.modal__reg {
			font-size: $fontSize * 1.8;
			line-height: 21px;
			text-align: center;
			color: #31303F;
			display: block;
			text-align: center;
			padding-bottom: 20px;
		}
		.modal__btn {
			margin-top: 32px;
			margin-bottom: 24px;

			background: $mainThemeColorBG;
			border-radius: 5px;

			font-size: $fontSize * 1.6;
			line-height: 19px;
			color: #FFFFFF;

			padding: 10px 32px;
		}
		
		.modal__footer {
			font-size: $fontSize * 1.8;
			line-height: 21px;
			display: block;
			text-align: center;
			color: #31303F;
			a {
				font-size: $fontSize * 1.8;
				line-height: 21px;
				margin-left: 5px;
				color: $mainThemeColorBG;
			}
		}
	}
	@media (max-width: 991px) {
		padding: 32px 20px;
	}
}
.modal-dialog {
	max-width: 576px;
}