.breadcrumb {
	background: none;
	padding: 20px 0 32px 0;
	margin: 0px;
	.breadcrumb-item {
		font-size: $fontSize * 1.6;
		line-height: 19px;
		color: #606060;
		a {
			font-size: $fontSize * 1.6;
			line-height: 19px;
			color: #606060;
			transition: 0.3s;
			&:hover {
				color: $mainThemeColorBG;
				transition: 0.3s;
			}
		}
	}
}