.footer {
	padding: 32px 60px;
	background-color: #fff;
	.footer__nav {
		@media (max-width: 991px) {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
		}
	}
	.footer__link {
		font-size: $fontSize * 1.8;
		line-height: 21px;
		color: #C4C4C4;
		margin-right: 5em;
		transition: 0.2s;
		&:last-child {
			margin: 0px;
		}
		&:hover {
			color: $mainThemeColorBG;
			transition: 0.2s;
		}
		@media (max-width: 1400px) {
			font-size: $fontSize * 1.6;
			margin-right: 3em;
		}
		@media (max-width: 991px) {
			font-size: $fontSize * 1.4;
			margin: 0px;
			width: 49%;
			margin-bottom: 10px;
			text-align: center;
		}
	}
	@media (max-width: 991px) {
		margin-right: -15px;
		margin-left: -15px;
		padding: 32px 15px;
	}
}
.warning {
	font-size: $fontSize * 1.4;
	line-height: 135%;
	color: #C4C4C4;

	padding: 32px 0;
	@media (max-width: 991px) {
		padding: 22px 15px;
	}
}