extends base.pug
block content
	div(class="container-fluid")
		div(class="row")
			div(class="col-lg-12 offset-lg-1")
				nav(aria-label="breadcrumb")
					ol(class="breadcrumb")
						li(class="breadcrumb-item")
							a(href="#")
								| Главная
						li(class="breadcrumb-item")
							a(href="#")
								| Семья
						li(class="breadcrumb-item active" aria-current="page")
							| Дети
	div(class="articles articles_page")
		div(class="container-fluid")
			div(class="row")
				div(class="col-lg-7 offset-lg-1 mb-5 mb-lg-0")
					div(class="articles__item")
						div(class="articles__header")
							h2()
								| Первые месяцы ребёнка и мамы
							span()
								| Автор Elena864
						div(class="articles__content")
							img(class="lazyload" data-src="images/articles/big_1.png" alt="img")
							div(class="articles__wrapper")
								div(class="articles__description")
									p
										| Товарищи! реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития. Задача организации, в особенности же сложившаяся структура организации представляет собой интересный эксперимент проверки соответствующий условий активизации.
									p
										| Не следует, однако забывать, что консультация с широким активом требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что реализация намеченных плановых заданий в значительной степени обуславливает создание существенных финансовых и административных условий. С другой стороны новая модель организационной деятельности позволяет оценить значение соответствующий условий активизации.
									p
										| Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности требуют от нас анализа форм развития. Равным образом начало повседневной работы по формированию позиции требуют от нас анализа существенных финансовых и административных условий. Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия. Таким образом сложившаяся структура организации в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также сложившаяся структура организации представляет собой интересный эксперимент проверки соответствующий условий активизации.
									p
										| Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. Равным образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития.
									p
										| Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке модели развития. С другой стороны новая модель организационной деятельности влечет за собой процесс внедрения и модернизации модели развития. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет оценить значение соответствующий условий активизации. Повседневная практика показывает, что рамки и место обучения кадров требуют от нас анализа направлений прогрессивного развития. Равным образом рамки и место обучения кадров представляет собой интересный эксперимент проверки соответствующий условий активизации.
								div(class="articles__sidebar")
									div(class="d-block d-lg-flex")
										div(class="pb-4 pb-lg-0")
											span(class="articles__sidebar__header")
												| Поделиться в соц. сетях
											div(class="social social_registration")
												a(class="social__item" href="#")
													img(class="lazyload" data-src="images/reg_inst.svg" alt="img")
												a(class="social__item" href="#")
													img(class="lazyload" data-src="images/reg_vk.svg" alt="img")
												a(class="social__item" href="#")
													img(class="lazyload" data-src="images/reg_tw.svg" alt="img")
												a(class="social__item" href="#")
													img(class="lazyload" data-src="images/reg_youtube.svg" alt="img")
												a(class="social__item social__item_ok" href="#")
													img(class="lazyload" data-src="images/reg_ok.svg" alt="img")
										div()
											span(class="articles__sidebar__header")
												| Оцените статью
											div(class="d-flex align-items-center")
												a(class="articles__sidebar__like articles__sidebar__like_good active" href="#")
													svg(viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
														g(clip-path="url(#clip0)")
															path(d="M3.91773 7.84021H0.783564C0.352688 7.84021 0 8.19112 0 8.62373V22.7276C0 23.16 0.351141 23.511 0.783564 23.511H3.91773C4.35015 23.511 4.70129 23.1599 4.70129 22.7276V8.62373C4.70129 8.19112 4.34856 7.84021 3.91773 7.84021Z" fill="#C4C4C4")
															path(d="M22.0444 7.84021C21.9182 7.81883 16.0097 7.84021 16.0097 7.84021L16.835 5.5887C17.4044 4.03367 17.0358 1.6593 15.4557 0.815177C14.9413 0.540301 14.2225 0.402254 13.643 0.548129C13.3107 0.631754 13.0186 0.851786 12.8445 1.14658C12.6443 1.48563 12.665 1.8814 12.5937 2.25734C12.4129 3.21087 11.9623 4.11748 11.2646 4.79797C10.0481 5.98442 6.26904 9.40724 6.26904 9.40724V21.944H19.3281C21.0902 21.945 22.245 19.9772 21.3759 18.4401C22.4119 17.7766 22.7662 16.379 22.1595 15.306C23.1955 14.6424 23.5498 13.2449 22.943 12.1718C24.7306 11.027 24.133 8.19346 22.0444 7.84021Z" fill="#C4C4C4")
												a(class="articles__sidebar__like articles__sidebar__like_bad" href="#")
													svg(viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
														g(clip-path="url(#clip0)")
															path(d="M3.91773 16.1598H0.783564C0.352688 16.1598 0 15.8089 0 15.3763V1.27245C0 0.840026 0.351141 0.489025 0.783564 0.489025H3.91773C4.35015 0.489025 4.70129 0.840073 4.70129 1.27245V15.3763C4.70129 15.8089 4.34856 16.1598 3.91773 16.1598Z" fill="#C4C4C4")
															path(d="M22.0444 16.1598C21.9182 16.1812 16.0097 16.1598 16.0097 16.1598L16.835 18.4113C17.4044 19.9663 17.0358 22.3407 15.4557 23.1848C14.9413 23.4597 14.2225 23.5977 13.643 23.4519C13.3107 23.3682 13.0186 23.1482 12.8445 22.8534C12.6443 22.5144 12.665 22.1186 12.5937 21.7427C12.4129 20.7891 11.9623 19.8825 11.2646 19.202C10.0481 18.0156 6.26904 14.5928 6.26904 14.5928V2.05602H19.3281C21.0902 2.05498 22.245 4.0228 21.3759 5.55988C22.4119 6.2234 22.7662 7.62098 22.1595 8.69404C23.1955 9.35756 23.5498 10.7551 22.943 11.8282C24.7306 12.973 24.133 15.8065 22.0444 16.1598Z" fill="#C4C4C4")
									div(class="articles__sidebar__views")
										span
											| 876 просмотров
								div(class="articles__footer")
									a(class="articles__footer__add" href="#")
										img(class="lazyload" data-src="images/add.svg" alt="img")
										span(class="pl-4")
											| Добавить комментарий
									div(class="articles__footer__comment")
										div(class="d-flex align-items-start")
											div(class="articles__footer__comment__user")
												img(class="lazyload" data-src="images/user.png" alt="img")
											form()
												textarea()
												button(type="submit")
													| Отправить
						div(class="articles__item")
						div(class="articles__header")
							h2()
								| Первые месяцы ребёнка и мамы
							span()
								| Автор Elena864
						div(class="articles__content")
							img(class="lazyload" data-src="images/articles/big_2.png" alt="img")
							div(class="articles__wrapper")
								div(class="articles__description")
									p
										| Товарищи! реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития. Задача организации, в особенности же сложившаяся структура организации представляет собой интересный эксперимент проверки соответствующий условий активизации.
									p
										| Не следует, однако забывать, что консультация с широким активом требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что реализация намеченных плановых заданий в значительной степени обуславливает создание существенных финансовых и административных условий. С другой стороны новая модель организационной деятельности позволяет оценить значение соответствующий условий активизации.
									p
										| Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности требуют от нас анализа форм развития. Равным образом начало повседневной работы по формированию позиции требуют от нас анализа существенных финансовых и административных условий. Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия. Таким образом сложившаяся структура организации в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также сложившаяся структура организации представляет собой интересный эксперимент проверки соответствующий условий активизации.
									p
										| Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. Равным образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития.
									p
										| Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке модели развития. С другой стороны новая модель организационной деятельности влечет за собой процесс внедрения и модернизации модели развития. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет оценить значение соответствующий условий активизации. Повседневная практика показывает, что рамки и место обучения кадров требуют от нас анализа направлений прогрессивного развития. Равным образом рамки и место обучения кадров представляет собой интересный эксперимент проверки соответствующий условий активизации.
								div(class="articles__sidebar")
									div(class="d-block d-lg-flex")
										div(class="pb-4 pb-lg-0")
											span(class="articles__sidebar__header")
												| Поделиться в соц. сетях
											div(class="social social_registration")
												a(class="social__item" href="#")
													img(class="lazyload" data-src="images/reg_inst.svg" alt="img")
												a(class="social__item" href="#")
													img(class="lazyload" data-src="images/reg_vk.svg" alt="img")
												a(class="social__item" href="#")
													img(class="lazyload" data-src="images/reg_tw.svg" alt="img")
												a(class="social__item" href="#")
													img(class="lazyload" data-src="images/reg_youtube.svg" alt="img")
												a(class="social__item social__item_ok" href="#")
													img(class="lazyload" data-src="images/reg_ok.svg" alt="img")
										div()
											span(class="articles__sidebar__header")
												| Оцените статью
											div(class="d-flex align-items-center")
												a(class="articles__sidebar__like articles__sidebar__like_good active" href="#")
													svg(viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
														g(clip-path="url(#clip0)")
															path(d="M3.91773 7.84021H0.783564C0.352688 7.84021 0 8.19112 0 8.62373V22.7276C0 23.16 0.351141 23.511 0.783564 23.511H3.91773C4.35015 23.511 4.70129 23.1599 4.70129 22.7276V8.62373C4.70129 8.19112 4.34856 7.84021 3.91773 7.84021Z" fill="#C4C4C4")
															path(d="M22.0444 7.84021C21.9182 7.81883 16.0097 7.84021 16.0097 7.84021L16.835 5.5887C17.4044 4.03367 17.0358 1.6593 15.4557 0.815177C14.9413 0.540301 14.2225 0.402254 13.643 0.548129C13.3107 0.631754 13.0186 0.851786 12.8445 1.14658C12.6443 1.48563 12.665 1.8814 12.5937 2.25734C12.4129 3.21087 11.9623 4.11748 11.2646 4.79797C10.0481 5.98442 6.26904 9.40724 6.26904 9.40724V21.944H19.3281C21.0902 21.945 22.245 19.9772 21.3759 18.4401C22.4119 17.7766 22.7662 16.379 22.1595 15.306C23.1955 14.6424 23.5498 13.2449 22.943 12.1718C24.7306 11.027 24.133 8.19346 22.0444 7.84021Z" fill="#C4C4C4")
												a(class="articles__sidebar__like articles__sidebar__like_bad" href="#")
													svg(viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
														g(clip-path="url(#clip0)")
															path(d="M3.91773 16.1598H0.783564C0.352688 16.1598 0 15.8089 0 15.3763V1.27245C0 0.840026 0.351141 0.489025 0.783564 0.489025H3.91773C4.35015 0.489025 4.70129 0.840073 4.70129 1.27245V15.3763C4.70129 15.8089 4.34856 16.1598 3.91773 16.1598Z" fill="#C4C4C4")
															path(d="M22.0444 16.1598C21.9182 16.1812 16.0097 16.1598 16.0097 16.1598L16.835 18.4113C17.4044 19.9663 17.0358 22.3407 15.4557 23.1848C14.9413 23.4597 14.2225 23.5977 13.643 23.4519C13.3107 23.3682 13.0186 23.1482 12.8445 22.8534C12.6443 22.5144 12.665 22.1186 12.5937 21.7427C12.4129 20.7891 11.9623 19.8825 11.2646 19.202C10.0481 18.0156 6.26904 14.5928 6.26904 14.5928V2.05602H19.3281C21.0902 2.05498 22.245 4.0228 21.3759 5.55988C22.4119 6.2234 22.7662 7.62098 22.1595 8.69404C23.1955 9.35756 23.5498 10.7551 22.943 11.8282C24.7306 12.973 24.133 15.8065 22.0444 16.1598Z" fill="#C4C4C4")
									div(class="articles__sidebar__views")
										span
											| 876 просмотров
								div(class="articles__footer")
									a(class="articles__footer__add" href="#")
										img(class="lazyload" data-src="images/add.svg" alt="img")
										span(class="pl-4")
											| Добавить комментарий
									div(class="articles__footer__comment")
										div(class="articles__footer__comment__user")
											img(class="lazyload" data-src="images/user.png" alt="img")
										form()
											textarea()
											button(type="submit")
												| Отправить
				div(class="col-12 col-lg-3")
					div(class="top top__video")
						div(class="top__header")
							| Видео по теме
						- for (var i = 0; i < 3; i++)
							div(class="top__item")
								div(class="top__preview")
									img(class="lazyload" data-src="images/video/video_1.png" alt="img")
									div(class="top__play")
								div(class="top__description")
									span
										| Как путешествовать бюджетно?
						a(class="btn top__btn top__btn_more" href="#")
							| Все видео
					a(href="#" class="btn__work")
						| Зарабатывать с нами 
					div(class="top top__video top__article")
						div(class="top__header")
							| Статьи по теме
						- for (var i = 0; i < 24; i++)
							a(class="top__article__link" href='#')
								| Название статьи