- var menuItems = ['Главная', 'Все рубрики', 'Все видео', 'О нас', 'Зарабатывать с нами'];
- var menuItemsFooter = ['О нас', 'Все рубрики', 'Все видео', 'Помощь', 'Реклама', 'Контакты'];
- var maunRunLine = ['Здоровье', 'Красота', 'Садоводство', 'Еда', 'Дом', 'Напитки', 'Бизнес', 'Здоровье', 'Красота', 'Садоводство', 'Еда', 'Дом', 'Напитки', 'Бизнес'];

doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet")

		link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")

		script( src="js/startFunction.min.js")
		title Project
	body
		div(id="preloader-cube")
			div(class="caption")
				div(class="cube-loader")
					div(class="cube loader-1")
					div(class="cube loader-2")
					div(class="cube loader-4")
					div(class="cube loader-3")
		div(class="page")
			header()
				div(class="header")
					nav(class="navigation")
						a(href="#" class="logo")
							picture
								source(media="(max-width: 991px)" data-srcset="images/logo_mobile.png")
								img(class="lazyload" data-src="images/logo_desktop.png" alt="logo")
						ul(class="d-none d-lg-flex")
							each val, index in menuItems
								li
									a(href="#") #{val}
							li(class="navigation__line")
						input(type="search" class="search search_main" name="search")
						div(class="d-flex align-items-center")
							button(class="registration registration_link d-none d-lg-block" data-toggle="modal" data-target="#modalRegistration")
								| Регистрация
							button(class="profile profile_link" data-toggle="modal" data-target="#modalLogin")
								img(class="d-block d-lg-none d-xl-block lazyload" data-src="images/login.svg" alt="img")
								| Войти
							button(class="btn__menu d-lg-none")
								svg(id="burger" class="ham hamRotate ham8" viewBox="0 0 100 100"  onclick="this.classList.toggle('active')")
									path(class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20")
									path(class="line middle" d="m 30,50 h 40")
									path(class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20")
					div(class="header__down header__down_run")
						div(class="container-fluid ")
							div(class="row")
								div(class="col-12 col-lg-10 offset-lg-1")
									div(class="header__wrapper")
										div(class="header__slider")
											each val, index in maunRunLine
												a(class="header__link header__link_run" href="#")
													= val
			div(class="navigation__content d-flex align-items-center justify-content-center")
				div(class="navigation__wrap")
					ul(class="navigation__menu")
						each val, index in menuItems
							li(class="navigation__menu__item")
								a(href="#" class="navigation__menu__link")
									= val
						input(type="search" class="search search_main" name="search")
			div(class="content")
				block content
		div(class="modal fade" id="modalRegistration" tabindex="-1" role="dialog" aria-labelledby="modalRegistrationTitle" aria-hidden="true")
			div(class="modal-dialog modal-dialog-centered" role="document")
				div(class="modal-content")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true")
							| &times;
					div(class="modal-header")
						span
							| Регистрация
					div(class="modal-body")
						form(class="form")
							input(type="text" class="form__input mb-5" placeholder="Имя")
							input(type="email" class="form__input mb-5" placeholder="E-mail")
							input(type="text" class="form__input mb-5" placeholder="Имя пользователя")
							input(type="password" class="form__input mb-5" placeholder="Пароль")
							input(type="password" class="form__input mb-5" placeholder="Повторите пароль")
							div(class="d-flex align-items-start justify-content-center pb-5")
								label(class="m-0")
									input(type="checkbox" id="checkbox" class="checkbox" checked aria-label="Checkbox for following text input")
									span(for="checkbox" class="checkbox__label")
								p( class="form__info")
									| Согласен с политикой обработки
									a(href="#" class="form__info")
										| персональных данных
							div()
								span(class="modal__reg")
									| Регистрация с помощью
								div(class="social social_registration")
									a(class="social__item" href="#")
										img(class="lazyload" data-src="images/reg_vk.svg" alt="img")
									a(class="social__item" href="#")
										img(class="lazyload" data-src="images/reg_tw.svg" alt="img")
									a(class="social__item" href="#")
										img(class="lazyload" data-src="images/reg_ok.svg" alt="img")
									a(class="social__item" href="#")
										img(class="lazyload" data-src="images/reg_g.svg" alt="img")
							div(class="d-flex justify-content-center")
								button(class="btn modal__btn" type="submit" )
									| Записаться
							div()
								span(class="modal__footer")
									| У вас уже есть аккаунт?
									a(href="#")
										| Войти
		div(class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginTitle" aria-hidden="true")
			div(class="modal-dialog modal-dialog-centered" role="document")
				div(class="modal-content")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true")
							| &times;
					div(class="modal-header")
						span
							| Вход
					div(class="modal-body")
						form(class="form")
							input(type="text" class="form__input mb-5" placeholder="Имя пользователя или e-mail")
							input(type="password" class="form__input mb-5" placeholder="Пароль")
							div()
								span(class="modal__reg")
									| Войти с помощью
								div(class="social social_registration")
									a(class="social__item" href="#")
										img(class="lazyload" data-src="images/reg_vk.svg" alt="img")
									a(class="social__item" href="#")
										img(class="lazyload" data-src="images/reg_tw.svg" alt="img")
									a(class="social__item" href="#")
										img(class="lazyload" data-src="images/reg_ok.svg" alt="img")
									a(class="social__item" href="#")
										img(class="lazyload" data-src="images/reg_g.svg" alt="img")
							div(class="d-flex justify-content-center")
								button(class="btn modal__btn" type="submit" )
									| Записаться
							div()
								span(class="modal__footer")
									| У вас ещё нет аккаунта?
									a(href="#")
										| Регистрация
		div(class="btn-to-top")
			div(class="btn-to-top__content d-flex justify-content-center align-items-center")
				svg(class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316")
					g(id="arrow-up" transform="translate(-1035.793 -4349.188)")
						g(id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)")
							path(id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)")
		div(class="container-fluid")
			div(class="row")
				div(class="col-12 col-lg-10 offset-lg-1")
					footer(class="footer")
						div(class="pb-5 footer__nav")
							each val, index in menuItemsFooter
								a(class="footer__link" href="#")
									= val
						div(class="col-12")
							div(class="social")
								a(class="social__item" href="#")
									img(class="lazyload" data-src="images/inst.svg" alt="img")
								a(class="social__item" href="#")
									img(class="lazyload" data-src="images/vk.svg" alt="img")
								a(class="social__item" href="#")
									img(class="lazyload" data-src="images/tw.svg" alt="img")
								a(class="social__item" href="#")
									img(class="lazyload" data-src="images/youtube.svg" alt="img")
								a(class="social__item" href="#")
									img(class="lazyload" data-src="images/ok.svg" alt="img")
					div(class="warning")
						span()
							| Размещенные на сайте материалы, включая статьи, могут содержать информацию, предназначенную для пользователей старше 18 лет, согласно Федерального закона №436-ФЗ от 29.12.2010 года "О защите детей от информации, причиняющей вред их здоровью и развитию". 18+.
	script(src="js/main.min.js")

