extends base.pug
block content
	- var heading = ['Здоровье', 'Семья', 'Красота', 'Здоровье', 'Семья', 'Красота'];
	div(class="container-fluid")
		div(class="row")
			div(class="col-lg-12 offset-lg-1")
				nav(aria-label="breadcrumb")
					ol(class="breadcrumb")
						li(class="breadcrumb-item")
							a(href="#")
								| Главная
						li(class="breadcrumb-item active" aria-current="page")
							| Все рубрики
	div(class="heading")
		div(class="container-fluid")
			div(class="row")
				div(class="col-12 offset-lg-1")
					h1()
						| Все рубрики
			div(class="row")
				div(class="col-12 col-lg-10 offset-lg-1")
					div(class="heading__item")
						div(class="row")
							each val, index in menuItemsFooter
								div(class='col-lg-4 col-xl-3 offset-xl-1 pb-5')
									h2(class="heading__head")
										= val
									ul()
										- for (var i = 0; i < 10; i++)
											li()
												a(href="#" class="heading__link")
													| Название рубрики
				