extends base.pug
block content
	div(class="welcome")
		div(class="container-fluid welcome__first")
			div(class="row")
				div(class="col-lg-7 offset-lg-1")
					div(class="articles articles_random")
						div(class="col-12 col-lg-7 px-0 px-lg-4 mb-5")
							a(class="article article_big" href="#")
								div(class="article__preview")
									img(class="lazyload" data-src="images/articles/1.png" alt="png")
								span(class="article__header")
									| Заголовок статьи
						div(class="col-lg-5 px-0 px-lg-4 mb-5")
							a(class="article article_big" href="#")
								div(class="article__preview")
									picture
										source(media="(max-width: 991px)" data-srcset="images/articles/2_mobile.png")
										img(class="lazyload" data-src="images/articles/2.png" alt="png")
								span(class="article__header")
									| Заголовок статьи
						div(class="col-lg-7 px-0 px-lg-4 mb-5 mb-lg-0")
							a(class="article article_big" href="#")
								div(class="article__preview")
									picture
										source(media="(max-width: 991px)" data-srcset="images/articles/3_mobile.png")
										img(class="lazyload" data-src="images/articles/3.png" alt="png")
								span(class="article__header")
									| Заголовок статьи
						div(class="col-lg-5 px-0 px-lg-4 mb-5 mb-lg-0")
							a(class="article article_big" href="#")
								div(class="article__preview")
									picture
										source(media="(max-width: 991px)" data-srcset="images/articles/4_mobile.png")
										img(class="lazyload" data-src="images/articles/4.png" alt="png")
								span(class="article__header")
									| Заголовок статьи
				div(class="col-12 col-lg-3")
					div(class="top top__video")
						div(class="top__header")
							| ТОП-видео
						- for (var i = 0; i < 3; i++)
							div(class="top__item")
								div(class="top__preview")
									img(class="lazyload" data-src="images/video/video_1.png" alt="img")
									div(class="top__play")
								div(class="top__description")
									span
										| Как путешествовать бюджетно?
						a(class="btn top__btn top__btn_more" href="#")
							| Все видео
		div(class="container-fluid welcome__second")
			div(class="row")
				div(class="col-12 col-lg-5 offset-lg-1 mb-5 mb-lg-0")
					div(class="banner banner_color_main")
						div(class="banner__left")
							span(class="banner__header")
								| Найти эксперта по теме
							a(class="btn banner__btn" href="#")
								| Найти
						div(class="banner__right")
							img(class="banner__right__img lazyload" data-src="images/banner/banner_1.png" alt="img")
				div(class="col-12 col-lg-5")
					div(class="banner")
							div(class="banner__left")
								span(class="banner__header")
									| Стать экспертом и зарабатывать
								a(class="btn banner__btn" href="#" data-toggle="modal" data-target="#modalRegistration")
									| Регистрация
							div(class="banner__right")
								img(class=" lazyload" data-src="images/banner/banner_2.png" alt="img")
		div(class="container-fluid welcome__third")
			div(class="row")
				div(class="col-lg-7 offset-lg-1 mb-5 mb-lg-0")
					div(class="articles articles_new")
						span(class="articles_new__header")
							| Новые статьи по теме Дом
						div(class="pt-5")
							ul(class="nav nav-tabs pb-5" id="tabNews" role="tablist")
								li(class="nav-item")
									a(class="nav-link active" id="tabNews-1-tab" data-toggle="tab" href="#tabNews-1" role="tab" aria-controls="tabNews-1" aria-selected="true")
										| Еда
								li(class="nav-item")
									a(class="nav-link" id="tabNews-2-tab" data-toggle="tab" href="#tabNews-2" role="tab" aria-controls="tabNews-2" aria-selected="false")
										| Напитки
								li(class="nav-item")
									a(class="nav-link" id="tabNews-3-tab" data-toggle="tab" href="#tabNews-3" role="tab" aria-controls="tabNews-3" aria-selected="false")
										| Дом
								li(class="nav-item")
									a(class="nav-link" id="tabNews-4-tab" data-toggle="tab" href="#tabNews-4" role="tab" aria-controls="tabNews-4" aria-selected="false")
										| Домашнее хозяйство
								li(class="nav-item")
									a(class="nav-link" id="tabNews-5-tab" data-toggle="tab" href="#tabNews-5" role="tab" aria-controls="tabNews-5" aria-selected="false")
										| Недвижимость
							div(class="tab-content" id="tabNewsContent")
								div(class="tab-pane fade show active" id="tabNews-1" role="tabpanel" aria-labelledby="tabNews-1-tab")
									- for (var i = 0; i < 4; i++)
										div(class="articles_new__item pb-4")
											div(class="articles_new__item__preview")
												img(class="lazyload" data-src="images/articles/articles_new__item_1.png" alt="img")
											span(class="articles_new__item__header")
												| Название статьи
											p(class="articles_new__item__description")
												| Таким образом сложившаяся структура организации требуют определения и уточнения форм развития. С другой стороны дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание соответствующий условий активизации.
											a(class="articles_new__item__more" href="#")
												| Читать далее
								div(class="tab-pane fade" id="tabNews-2" role="tabpanel" aria-labelledby="tabNews-2-tab")
									- for (var i = 0; i < 5; i++)
										div(class="articles_new__item pb-4")
											div(class="articles_new__item__preview")
												img(class="lazyload" data-src="images/articles/articles_new__item_1.png" alt="img")
											span(class="articles_new__item__header")
												| Название статьи
											p(class="articles_new__item__description")
												| Таким образом сложившаяся структура организации требуют определения и уточнения форм развития. С другой стороны дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание соответствующий условий активизации.
											a(class="articles_new__item__more" href="#")
												| Читать далее
								div(class="tab-pane fade" id="tabNews-3" role="tabpanel" aria-labelledby="tabNews-3-tab")
									- for (var i = 0; i < 3; i++)
										div(class="articles_new__item pb-4")
											div(class="articles_new__item__preview")
												img(class="lazyload" data-src="images/articles/articles_new__item_1.png" alt="img")
											span(class="articles_new__item__header")
												| Название статьи
											p(class="articles_new__item__description")
												| Таким образом сложившаяся структура организации требуют определения и уточнения форм развития. С другой стороны дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание соответствующий условий активизации.
											a(class="articles_new__item__more" href="#")
												| Читать далее
								div(class="tab-pane fade" id="tabNews-4" role="tabpanel" aria-labelledby="tabNews-4-tab")
									- for (var i = 0; i < 2; i++)
										div(class="articles_new__item pb-4")
											div(class="articles_new__item__preview")
												img(class="lazyload" data-src="images/articles/articles_new__item_1.png" alt="img")
											span(class="articles_new__item__header")
												| Название статьи
											p(class="articles_new__item__description")
												| Таким образом сложившаяся структура организации требуют определения и уточнения форм развития. С другой стороны дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание соответствующий условий активизации.
											a(class="articles_new__item__more" href="#")
												| Читать далее
								div(class="tab-pane fade" id="tabNews-5" role="tabpanel" aria-labelledby="tabNews-5-tab")
									- for (var i = 0; i < 1; i++)
										div(class="articles_new__item pb-4")
											div(class="articles_new__item__preview")
												img(class="lazyload" data-src="images/articles/articles_new__item_1.png" alt="img")
											span(class="articles_new__item__header")
												| Название статьи
											p(class="articles_new__item__description")
												| Таким образом сложившаяся структура организации требуют определения и уточнения форм развития. С другой стороны дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание соответствующий условий активизации.
											a(class="articles_new__item__more" href="#")
												| Читать далее
				div(class="col-lg-3")
					div(class="top top__video top__article")
						div(class="top__header")
							| Популярные статьи
						- for (var i = 0; i < 24; i++)
							a(class="top__article__link" href='#')
								| Название статьи
		div(class="container-fluid welcome__third")
			div(class="row")
				div(class="col-lg-3 order-2 order-lg-1 offset-lg-1")
					div(class="top top__video top__article")
						div(class="top__header")
							| Популярные статьи
						- for (var i = 0; i < 24; i++)
							a(class="top__article__link" href='#')
								| Название статьи
				div(class="col-lg-7 order-1 order-lg-2  mb-5 mb-lg-0")
					div(class="articles articles_new")
						span(class="articles_new__header")
							| Новые статьи по теме Дом
						div(class="pt-5")
							ul(class="nav nav-tabs pb-5" id="tabNews" role="tablist")
								li(class="nav-item")
									a(class="nav-link active" id="tabNews-1-tab" data-toggle="tab" href="#tabNews-1" role="tab" aria-controls="tabNews-1" aria-selected="true")
										| Еда
								li(class="nav-item")
									a(class="nav-link" id="tabNews-2-tab" data-toggle="tab" href="#tabNews-2" role="tab" aria-controls="tabNews-2" aria-selected="false")
										| Напитки
								li(class="nav-item")
									a(class="nav-link" id="tabNews-3-tab" data-toggle="tab" href="#tabNews-3" role="tab" aria-controls="tabNews-3" aria-selected="false")
										| Дом
								li(class="nav-item")
									a(class="nav-link" id="tabNews-4-tab" data-toggle="tab" href="#tabNews-4" role="tab" aria-controls="tabNews-4" aria-selected="false")
										| Домашнее хозяйство
								li(class="nav-item")
									a(class="nav-link" id="tabNews-5-tab" data-toggle="tab" href="#tabNews-5" role="tab" aria-controls="tabNews-5" aria-selected="false")
										| Недвижимость
							div(class="tab-content" id="tabNewsContent")
								div(class="tab-pane fade show active" id="tabNews-1" role="tabpanel" aria-labelledby="tabNews-1-tab")
									- for (var i = 0; i < 4; i++)
										div(class="articles_new__item pb-4")
											div(class="articles_new__item__preview")
												img(class="lazyload" data-src="images/articles/articles_new__item_1.png" alt="img")
											span(class="articles_new__item__header")
												| Название статьи
											p(class="articles_new__item__description")
												| Таким образом сложившаяся структура организации требуют определения и уточнения форм развития. С другой стороны дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание соответствующий условий активизации.
											a(class="articles_new__item__more" href="#")
												| Читать далее
								div(class="tab-pane fade" id="tabNews-2" role="tabpanel" aria-labelledby="tabNews-2-tab")
									- for (var i = 0; i < 5; i++)
										div(class="articles_new__item pb-4")
											div(class="articles_new__item__preview")
												img(class="lazyload" data-src="images/articles/articles_new__item_1.png" alt="img")
											span(class="articles_new__item__header")
												| Название статьи
											p(class="articles_new__item__description")
												| Таким образом сложившаяся структура организации требуют определения и уточнения форм развития. С другой стороны дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание соответствующий условий активизации.
											a(class="articles_new__item__more" href="#")
												| Читать далее
								div(class="tab-pane fade" id="tabNews-3" role="tabpanel" aria-labelledby="tabNews-3-tab")
									- for (var i = 0; i < 3; i++)
										div(class="articles_new__item pb-4")
											div(class="articles_new__item__preview")
												img(class="lazyload" data-src="images/articles/articles_new__item_1.png" alt="img")
											span(class="articles_new__item__header")
												| Название статьи
											p(class="articles_new__item__description")
												| Таким образом сложившаяся структура организации требуют определения и уточнения форм развития. С другой стороны дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание соответствующий условий активизации.
											a(class="articles_new__item__more" href="#")
												| Читать далее
								div(class="tab-pane fade" id="tabNews-4" role="tabpanel" aria-labelledby="tabNews-4-tab")
									- for (var i = 0; i < 2; i++)
										div(class="articles_new__item pb-4")
											div(class="articles_new__item__preview")
												img(class="lazyload" data-src="images/articles/articles_new__item_1.png" alt="img")
											span(class="articles_new__item__header")
												| Название статьи
											p(class="articles_new__item__description")
												| Таким образом сложившаяся структура организации требуют определения и уточнения форм развития. С другой стороны дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание соответствующий условий активизации.
											a(class="articles_new__item__more" href="#")
												| Читать далее
								div(class="tab-pane fade" id="tabNews-5" role="tabpanel" aria-labelledby="tabNews-5-tab")
									- for (var i = 0; i < 1; i++)
										div(class="articles_new__item pb-4")
											div(class="articles_new__item__preview")
												img(class="lazyload" data-src="images/articles/articles_new__item_1.png" alt="img")
											span(class="articles_new__item__header")
												| Название статьи
											p(class="articles_new__item__description")
												| Таким образом сложившаяся структура организации требуют определения и уточнения форм развития. С другой стороны дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание соответствующий условий активизации.
											a(class="articles_new__item__more" href="#")
												| Читать далее				
		div(class="container-fluid welcome__third")
			div(class="row pt-5")
				div(class="col-12 d-flex justify-content-center")
					button(class="btn btn_more")
						| Показать еще
		
				

