header {
	position: fixed;
	top: 0px; right: 0px; left: 0px;
	z-index: 1000;

	.navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 60px;
		overflow: hidden;
		background-color: #fff;
		.logo {
			max-width: 212px;
			img {
				width: 100%;
			}
			@media (max-width: 1250px) {
				width: 160px;
			}
			@media (max-width: 1250px) {
				width: 140px;
			}
			@media (max-width: 991px) {
				width: 45px;
			}
		}
		ul {
			display: flex;
			justify-content: center;
			list-style: none;
			padding: 0;
			margin: 0;
			position: relative;
			li {
				padding: 0px;
				a {
					padding: 0 16px;
					font-family: "Roboto";
					font-style: normal;
					font-weight: normal;
					font-size: $fontSize * 1.8;
					line-height: 21px;
					color: #303030;
					&:hover {
						text-decoration: none;
						color: inherit;
					}
					@media (max-width: 1200px) {
						padding: 0px 10px;
						font-size: $fontSize * 1.6;
					}
				}
			}
			.navigation__line {
				position: absolute;
				display: block;
				height: 4px;
				background-color: $mainThemeColor;
				left: 50%; bottom: -500%;
				transition: all 0.5s;
				padding: 0;
			}
		}
		.header__phone__wrap {
			display: flex;
			align-items: center;
		}
		.header__phone {
			font-family: "Roboto";
			font-style: normal;
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 21px;
			color: $mainTextColor;
			padding-left: 8px;
		}
		@media (max-width: 991px) {
			padding: 12px 10px;
		}
	}
	.header {
		.header__down {
			&.header__down_run {
				padding: 15px 0px;
				background-color: $mainThemeColor;
				@media (max-width: 991px) {
					padding: 15px 30px;
				}
			}
		}
		.header__wrapper {
			position: relative;
		}
		.slider__arrow {
			position: absolute;
			top: calc(50% - 10px);
			cursor: pointer;
			z-index: 10;
			svg {
				width: 21px;
			}
			&.slider_arrow_next {
				right: -26px;
			}
			&.slider_arrow_prev {
				left: -26px;
				svg {
					transform: scale(-1, 1);
				}
			}
		}
		.header__link {
			&.header__link_run {
				color: #E5E5E5;
				font-size: $fontSize * 1.6;
				line-height: 19px;
				padding-right: 3rem;
			}
		}
	}

	.ham {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		transition: transform 400ms;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transform: scale(1.5);
	}
	.hamRotate.active {
		transform: rotate(45deg) scale(1.5);
	}
	.hamRotate180.active {
		transform: rotate(180deg);
	}
	.line {
		fill:none;
		transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
		stroke: $mainThemeColor;
		stroke-width: 5.5;
		stroke-linecap:round;
	}
	.ham8 .top {
		stroke-dasharray: 40 160;
	}
	.ham8 .middle {
		stroke-dasharray: 40 142;
		transform-origin: 50%;
		transition: transform 400ms;
	}
	.ham8 .bottom {
		stroke-dasharray: 40 85;
		transform-origin: 50%;
		transition: transform 400ms, stroke-dashoffset 400ms;
	}
	.ham8.active .top {
		stroke-dashoffset: -64px;
	}
	.ham8.active .middle {
		transform: rotate(90deg);
	}
	.ham8.active .bottom {
		stroke-dashoffset: -64px;
	}
	.btn__menu {
	background: none;
	border: none;
	min-width: 40px;
	min-height: 40px;
	padding: 0;
	cursor: pointer;
		&:focus {
			outline: none;
		}
	}
}
.navigation__content {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 110%;
	z-index: 999;
	background-color: #fff;
	overflow-x: hidden;
	transition: all 0.5s;


	&.active {
		left: 0;
		transition: all 0.5s;
	}
	.navigation__wrap {
		margin: 5px auto;
		width: 580px;

	  .navigation__menu {
			margin: 0 auto;
			position: relative;
			transition: background-color .4s linear;
			padding: 0;
			color: #fff;

			display: flex;
			flex-direction: column;
			justify-content: center;
		  &:hover {
			  transition: background-color .4s linear;
		  }
		  .navigation__menu__item {
			  display: block;
			  box-sizing: border-box; }
		  .navigation__menu__link {
			  display: block;
			  text-align: center;
			  text-transform: uppercase;
			  cursor: pointer;
			  letter-spacing: 1px;
			  transition: transform .4s linear;
			  font-size: 1.8rem;
			  line-height: 21px;
			  color: #303030;
			  text-decoration: none;
			  padding: 5px 0;
			  box-sizing: border-box;
		  }
		  .navigation__menu__link:hover {
			  color: #fff;
			  background-color: $mainThemeColorBG;
			  transition: transform .4s linear;
		  }
		  .navigation__menu__phone {
			  margin-top: 4rem;
			  display: flex;
			  justify-content: center;
			  .header__phone {
				  font-family: "Roboto";
				  font-style: normal;
				  font-weight: 500;
				  font-size: 1.8rem;
				  line-height: 21px;
				  color: $mainTextColor;
				  padding-left: 8px;
			  }
		  }
		  .search_main {
		  	display: block;
		  	margin: 0 auto;
		  	width: 100%;
		  }
	  }
  }
	li a {
		padding: 10px 0;
		font-family: "Roboto";
		font-style: normal;
		font-weight: normal;
		font-size: 1.8rem;
		line-height: 21px;
		color: #303030;
		:hover {
			text-decoration: none;
			color: inherit;
		}
	}
}



.registration {
	&.registration_link {
		background: none;
		border: none;

		font-size: $fontSize * 1.8;
		line-height: 21px;

		color: $mainThemeColor;

		@media (max-width: 1200px) {
			font-size: $fontSize * 1.6;
		}
	}
}
.profile {
	&.profile_link {
		background: none;
		border: none;

		font-size: $fontSize * 1.8;
		line-height: 21px;

		color: $mainThemeColor;

		display: flex;
		align-items: center;

		img {
			margin-right: 10px;
		}
		@media (max-width: 1200px) {
			font-size: $fontSize * 1.6;
		}
	}
}
.search {
	&.search_main {
		width: 100%;
		max-width: 425px;

		border: 0px;
		border-radius: 5px;

		background: url("../images/search.svg") no-repeat 16px center rgba(84, 82, 106, 0.1);	
		padding: 11px  10px 11px 48px;

		font-size: $fontSize * 1.6;
		line-height: 19px;
		color: #31303F;

		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration { display: none; }

		@media (max-width: 1650px) {
			display: none;
		}
	}
}

