.heading {
	padding-bottom: 60px;

	h1 {
		font-weight: bold;
		font-size: $fontSize * 3.6;
		line-height: 42px;
		padding-bottom: 60px;
		color: #31303F;
		margin: 0px;

		@media (max-width: 991px) {
			padding-bottom: 32px;
		}
	}

	.heading__item {
		padding: 42px 150px;
		background-color: #fff;
		@media (max-width: 1500px) {
			padding: 36px 100px;
		}
		@media (max-width: 1200px) {
			padding: 36px 60px;
		}
		@media (max-width: 991px) {
			padding: 22px 15px;
		}
	}

	.heading__head {
		font-size: $fontSize * 2.5;
		line-height: 28px;
		color: #31303F;

		padding-bottom: 16px;
		margin-bottom: 24px;

		position: relative;

		&:before {
			position: absolute;
			left: 0px;
			bottom: 0px;
			content: "";
			display: block;

			height: 4px;
			width: 100%;
			background-color: $mainThemeColorBG;
		}		
	}
	ul {
		padding: 0px;
		margin: 0px;
		li {
			list-style: none;
		}
	}

	.heading__link {
		font-size: $fontSize * 1.8;
		margin: 8px 0;
		display: block;
		line-height: 21px;
		color: #54526A;
		transition: 0.3s;
		&:hover {
			color: $mainThemeColorBG;
			transition: 0.3s;
		}
	}

	@media (max-width: 991px) {
		padding-bottom: 25px;
	}
}